In [1]:
library(tidyverse)
library(readxl)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

<U+221A> ggplot2 3.2.1     <U+221A> purrr   0.3.3
<U+221A> tibble  2.1.3     <U+221A> dplyr   0.8.3
<U+221A> tidyr   1.0.0     <U+221A> stringr 1.4.0
<U+221A> readr   1.3.1     <U+221A> forcats 0.4.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Data Preparation
## Rice Export

In [7]:
path <- "../data/trade/export_1006_th.xls"

export_1006 <- read_excel(path, skip=1, na = c("-","",0)) %>%
    gather("type_year", "amount", -(1:7)) %>%
    na.omit(cols="amount")

head(export_1006)

  hscode     name                 country_code country_name_th country_name_en
1 1006100102 ข้าวเปลือกเจ้า       BD           บังกลาเทศ       Bangladesh
2 1006200104 ข้าวกล้องอื่นๆ 100 % BE           เบลเยียม        Belgium
3 1006200104 ข้าวกล้องอื่นๆ 100 % BE           เบลเยียม        Belgium
4 1006200104 ข้าวกล้องอื่นๆ 100 % BE           เบลเยียม        Belgium
5 1006200104 ข้าวกล้องอื่นๆ 100 % BE           เบลเยียม        Belgium
6 1006200104 ข้าวกล้องอื่นๆ 100 % BE           เบลเยียม        Belgium
  month month_th type_year amount
1 10    ต.ค.     vol2541     11950
2 01    ม.ค.     vol2541   1763000
3 02    ก.พ.     vol2541   1634000
4 03    มี.ค.    vol2541   1268500
5 04    เม.ย.    vol2541   1655500
6 05    พ.ค.     vol2541   2832000

## Countries

In [10]:
path <- "../data/_meta/countries.xlsx"

tbl_countries <- read_excel(path, skip=0, na = c("-",""))

head(tbl_countries)

  iso2 iso3 m49_code usda_code country_name_en_full
1 AF   AFG    4      AF        Islamic Republic of Afghanistan
2 AX   ALA  248      NA        Aland Islands
3 AL   ALB    8      AL        Republic of Albania
4 DZ   DZA   12      AG        People’s Democratic Republic of Algeria
5 AS   ASM   16      NA        American Samoa
6 AD   AND   20      NA        Principality of Andorra
  country_name_short country_name_th_full                 country_name_th_short
1 Afghanistan        สาธารณรัฐอิสลามอัฟกานิสถาน           อัฟกานิสถาน
2 Aland Islands      หมู่เกาะโอลันด์                      หมู่เกาะโอลันด์
3 Albania            สาธารณรัฐแอลเบเนีย                   แอลเบเนีย
4 Algeria            สาธารณรัฐประชาธิปไตยประชาชนแอลจีเรีย แอลจีเรีย
5 American Samoa     อเมริกันซามัว                        อเมริกันซามัว
6 Andorra            ราชรัฐอันดอร์รา                      อันดอร์รา
  country_name_others country_name_oae region  subregion       region_code
1 NA                  อัฟกานิสถาน      Asia    Southern Asia   142
2 NA                  NA               Europe  Northern Europe 150
3 NA                  แอลเบเนีย        Europe  Southern Europe 150
4 NA                  แอลจีเรีย        Africa  Northern Africa   2
5 NA                  อเมริกันแซมโม    Oceania Polynesia         9
6 NA                  NA               Europe  Southern Europe 150
  subregion_code currency_code currency_name
1  34            AFA           Afghanistan Afghani
2 154            EUR           Euro
3  39            ALL           Albanian Lek
4  15            DZD           Algerian Dinar
5  61            USD           US Dollar
6  39            ESP, FRF, ADP Spanish Peseta, French Franc, Andorran Peseta
  start end
1 0     0
2 0     0
3 0     0
4 0     0
5 0     0
6 0     0

## HS1006

In [14]:
path <- "../data/_meta/hs1006_th.xlsx"

tbl_hs1006 <- read_excel(path, sheet='hs_rice', skip=0)
tbl_hs1006_group <- read_excel(path, sheet='rice_group', skip=0)

head(tbl_hs1006)
head(tbl_hs1006_group)

  hscode      rice_name        organic     varities  milled parboiled grade
1 10061000001 ข้าวเปลือกเจ้า   non-organic white     paddy  0         others
2 10061000002 ข้าวเปลือกเหนียว non-organic glutinous paddy  0         others
3 10061010001 ข้าวเปลือกเจ้า   non-organic white     paddy  0         others
4 10061010002 ข้าวเปลือกเหนียว non-organic glutinous paddy  0         others
5 10061090001 ข้าวเปลือกเจ้า   non-organic white     paddy  0         others
6 10061090002 ข้าวเปลือกเหนียว non-organic glutinous paddy  0         others

  organic     varities milled parboiled grade  gr1     gr1code
1 non-organic hommali  brown  0         100    hommali 1
2 non-organic hommali  brown  0         5      hommali 1
3 non-organic hommali  brown  0         10     hommali 1
4 non-organic hommali  brown  0         others hommali 1
5 non-organic hommali  brown  0         broken hommali 1
6 non-organic hommali  milled 0         100    hommali 1